*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header2 .navbar{
    height: 100vh;
    width: 15vw;
}
.header2 nav{
    background-color: #019090; 
}
.header2 .navbar2{
    margin-top: 168px;
}
.header2 .nav-item{
    margin: 21px 0px;
}

/* icon toggled*/
.nav-link-btn:hover{
    animation-name: slidein;
    animation-duration: 0.5s;
    animation-iteration-count:initial;
    animation-direction: alternate;
}

@keyframes slidein {
    from {
      margin-left: 30%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  