*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Navbar */
nav{
  height: 100%;
}
.header .nav-btn {
  visibility: visible;
  opacity: 1;
}
/*  */
.header{
  /* background-color: rgb(21, 51, 51); */
  padding: 40px 0px;
  padding-bottom: 0px;
  padding-left: 100px;
}
.header h1{
  margin-left: 40px;
}
/*  */

.header nav{
  background-color: #019090;
  position: fixed;
  top: 0;
  width: 18.1vw;
  gap:  1.5rem;
  transition: 0.6s;
  transform: translateX(-150vh);
}
.header .res_nav , .header .nav-close-btn{
  color: aliceblue;
  transform: none;
}
.container-fluid{
  margin-bottom: 73vh;
}
.navbar-nav{
  display: block;
  text-align: start;
}

/* toggle btn icon */
.nav-btn:hover{
  animation-name: rotate;
  animation-duration: 0.5s;
}
@keyframes rotate{
  0%{ transform: rotate(0);}
  100%{ transform: rotate(360deg);}
}
.navbar .nav-item{
  margin: 20px 0px;
}
/* ---- */

/* Main Content */
.ini-form{
  background-color: #5bd6d6;
  width: 50vw;
  height: fit-content;
  border-radius: 15px;
  margin-bottom: 50px;
  padding: 20px 0px;
}
.body-iniform input[name="name"], [name="email"], [name="nomor"], [name="harapan"], [name="username"]{
  width: 31vw;
  margin: 20px 0px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: none;
}
/* Hover */
/* .body-iniform input[name="name"], [name="email"], [name="nomor"], [name="harapan"]:active{
  border: 1px red;
} */
.body-iniform input[name="latbel"], [name="kelasCoding"], [name="file"]{
  margin-bottom: 30px;
}
.body-iniform input[name="checkSetuju"]{
  margin-bottom: 50px;
}
/* invalid require element */
label span{
  display: inline-block;
  display: none;
  width: 33vw;
  margin: 10px 0px;
  margin-top: 0%;
  padding-bottom: 10px;
  color: red;
}
input:invalid ~ span{
  display: inline-block;
}
textarea{
  border-radius: 5px;
  padding: 5px 0px;
}
.body-iniform p{
  margin-top: 5px;
}
.body-iniform label{
  padding-left: 10vw;
}
.body-iniform .checked-box{
  display: flex;
}
.checked-box label{
  padding-left: 15px;
  padding-bottom: 14px;
}
.btn-form button{
  border: none;
  background-color: rgb(0, 112, 255);
}
.btn-form{
  margin-left: 10vw;
}

/* footer */
.IniFooter-element{
  background-color: grey;
}